<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello  {{ email }} welcome to my side your password is {{ password }}
your mobile number is {{ mobile}} and gender is {{ gender }}

<!--<form action="/abc">
    <label for="value1id"><b>value1</b></label><br>
    <input type="number" placeholder="Enter value 1" name="value1" id ="value1id" required><br>

    <label for="value2id"><b>value2</b></label><br>
    <input type="number" placeholder="Enter value 2" name="value2" id ="value2id" required><br>

    <input type="radio"  name="sum" id="sum"value="SUM">
    <label for="sum">Sum</label><br>

    <input type="radio"  name="subtract" id="subtract"value="SUBTRACT">
    <label for="subtract">subtract</label><br>

    <button type="submit">SUBMIT</button>
</form>
-->
</body>
</html>